html{
    height: 100%;
}
body{
    background-image: url(../images/Фон\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

/* 
------header------- */

.header{
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF; 
}

.logo{
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    margin-right: 704px;
}

.logo:hover{
    color: #01813F;
    transition-duration: 300ms;
}
.logo-text{
    font-size: 14px;
    line-height: 14px;
    padding-left: 27px;
    display: flex;
    align-items: center;
}

.logo-text::before{
    content: "";
    border-left: 1px solid rgba(255, 255, 255, 0.90);
    display: inline-block;
    opacity: 0.5;
    width: 1px;
    height: 19px;
    padding-left: 27px;

}

.logo-text a:hover{
    color: #01813F;
    transition-duration: 300ms;
}

.icons{
    display: flex;
    align-items: center;
    gap: 25px;
}

.calendar:hover svg path{
    fill: #01813F;
    transition-duration: 300ms;
}
.envelope:hover svg path{
    fill: #01813F;
    transition-duration: 300ms;
}

.compass:hover svg path{
    fill: #01813F;
    transition-duration: 300ms;
}

/* --------main------ */

.main-form{
    width: 444px;
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    margin: 54px auto 74px;
}

.top-form{
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
}

.shape{
    width: 18px;
    height: 18px;
    background: #3CB878;
}

.sing-up{
    color: #434343;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    padding-left: 43px;
    padding-right: 216px;
}

.log-in{
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
    padding-right: 59px;
}

.log-in:hover{
    color: #01813F;
    text-decoration: underline;
    transition-duration: 300ms;
}



/* --------button google/facebook/or------- */

.btn-social-networks{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.facebook,
.google{
    width: 160px;
    height: 48px;
    background:#305DB8;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 16px;
    line-height: 16px; 
    padding: 0 22px 0 11px;
}

.google{
    background:#DF4A32;
    margin-left: 4px;
}

.facebook:hover{
    background-color: #022263;
    transition-duration: 300ms;
}

.google:hover{
    background-color: #AB1F09;
    transition-duration: 300ms;
}

.facebook span,
.google span{
    display: flex;
    align-items: center;
}

.facebook span::before{
    content: "";
    border-left: 1px solid #0A162F;
    display: inline-block;
    opacity: 0.1;
    height: 28px;
    padding-left: 18px;
    margin-left: 13px;
}

.google span::before{
    content: "";
    border-left: 1px solid #0A162F;
    display: inline-block;
    opacity: 0.1;
    height: 28px;
    padding-left: 30px;
    margin-left: 7px;
}

.or-line{
    color: #848484;
    font-size: 14px;
    line-height: 14px;
    padding: 31px 0 12px;
    text-align: center;
}

.or-line span::after{
    content: "";
    display: inline-block;
    border-top:1px solid #F2F2F2 ;
    width: 152px;
    height: 1px;
    margin-left: 2px;
    margin-bottom: 1px;
   
}

.or-line span::before{
    content: "";
    display: inline-block;
    border-top:1px solid #F2F2F2 ;
    width: 152px;
    height: 1px;
    margin-right: 5px;
    margin-bottom: 1px;
}


   /* -------------- form----------  */

input{
    display: block;
    margin: 0 auto;
    width: 301px;
    height: 45px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    margin-bottom: 15px;
    padding-left: 19px;
}

input:focus:not(input[type="checkbox"]){
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
}


input[type=checkbox]:checked + span::before {
    content: url(../images/Vector\ 1.png);
    color: #01813F;
    position: absolute;
    left: 2px;
}

label span {
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.00);
    display: inline-block;
    position: relative;
}

label input {
    display: none;
}

.checkbox-text{
    color: #3CB878;
}

.checkbox-text:hover{
    text-decoration: underline;
    color: #01813F;
    transition-duration: 300ms;
}

.btn-green{
    width: 324px;
    height: 46px;
    color: #FFF;
    font-size: 16px;
    line-height: 16px; 
    border-radius: 4px;
    border: none;
    background: rgba(60, 184, 120, 0.80);
    margin: 0 60px 38px;
}
.btn-green:hover{
    background-color: #01813F;
    transition-duration: 300ms;
}

.checkbox-main{
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 0 60px 20px;
    color: #434343;
    font-size: 14px;
    line-height: 14px;
}
